<%= render 'header'%>
<%= render 'sidebar' %>	
			
<div id="content">
	<div class="box">
		<% @blogs.each do |blog| %>
		<%= link_to image_tag(blog.url, :width => "171" ,  :class =>"left"), blog_path(blog.id) %>
		<h1><strong> <%= blog.title %>  </strong></h1>
	  	<div id="blog">
			<p><%= blog.description %></p>
			<p><%= link_to 'Link to Full Size Image', blog %></p>
			<!-- <p><%= link_to 'Edit Image details', edit_blog_path(blog) %></p>
			<p><%= link_to 'Delete Image', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
			<%= render 'socialbuttons' %> 
			
			<br></br>
			</div>
			</div>
			<% end %>


	
	</div><br class="clear" />
</div><br class="clear" />
<div id="copyright">
&copy; CaptureArt.com 
</div>
</body>
</html>

